[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "ecs"]
	path = ecs
	url = https://github.com/relick/ecs
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb
[submodule "sokol"]
	path = sokol
	url = https://github.com/relick/sokol
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "soloud"]
	path = soloud
	url = https://github.com/jarikomppa/soloud
[submodule "abseil-cpp"]
	path = abseil-cpp
	url = https://github.com/abseil/abseil-cpp
[submodule "fontstash"]
	path = fontstash
	url = https://github.com/relick/fontstash.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "gcem"]
	path = gcem
	url = https://github.com/relick/gcem.git
[submodule "Boxer"]
	path = Boxer
	url = https://github.com/aaronmjacobs/Boxer.git
